<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    

    <div class="container">
      <div class="row">
        <div class="col-md-3"><h1>Day</h1></div>
        <div class="col-md-3"><h1>Breakfast</h1></div>
        <div class="col-md-3"><h1>Lunch</h1></div>
        <div class="col-md-3"><h1>Dinner</h1></div> 
      </div>
      <div class="row">
        <div class="col-md-3"><h2>Monday</h2></div>
        <div class="col-md-3"><div class="panel"><h4>Jalapeno Popper Grilled Cheese Sandwich</h4><p>2x | 350 Cal</p><img src="http://static.food2fork.com/Jalapeno2BPopper2BGrilled2BCheese2BSandwich2B12B500fd186186.jpg"/><div class="tags"><span>tag1</span><span>tag2</span></div></div></div>
        <div class="col-md-3"><div class="panel" ><span class="glyphicon glyphicon glyphicon-plus-sign"></span></div></div>
        <div class="col-md-3"><div class="panel" ><span class="glyphicon glyphicon glyphicon-plus-sign"></span></div></div> 
      </div>
      <div class="row">
        <div class="col-md-3"><h2>Tuesday</h2></div>
        <div class="col-md-3"><div class="panel" ><span class="glyphicon glyphicon glyphicon-plus-sign"></span></div></div>
        <div class="col-md-3"><div class="panel" ><span class="glyphicon glyphicon glyphicon-plus-sign"></span></div></div>
        <div class="col-md-3"><div class="panel" ><span class="glyphicon glyphicon glyphicon-plus-sign"></span></div></div> 
      </div>
      <div class="row">
        <div class="col-md-3"><h2>Wednesday</h2></div>
        <div class="col-md-3"><div class="panel" ><span class="glyphicon glyphicon glyphicon-plus-sign"></span></div></div>
        <div class="col-md-3"><div class="panel" ><span class="glyphicon glyphicon glyphicon-plus-sign"></span></div></div>
        <div class="col-md-3"><div class="panel" ><span class="glyphicon glyphicon glyphicon-plus-sign"></span></div></div> 
      </div>
      <div class="row">
        <div class="col-md-3"><h2>Thursday</h2></div>
        <div class="col-md-3"><div class="panel" ><span class="glyphicon glyphicon glyphicon-plus-sign"></span></div></div>
        <div class="col-md-3"><div class="panel" ><span class="glyphicon glyphicon glyphicon-plus-sign"></span></div></div>
        <div class="col-md-3"><div class="panel" ><span class="glyphicon glyphicon glyphicon-plus-sign"></span></div></div> 
      </div>
      <div class="row">
        <div class="col-md-3"><h2>Friday</h2></div>
        <div class="col-md-3"><div class="panel" ><span class="glyphicon glyphicon glyphicon-plus-sign"></span></div></div>
        <div class="col-md-3"><div class="panel" ><span class="glyphicon glyphicon glyphicon-plus-sign"></span></div></div>
        <div class="col-md-3"><div class="panel" ><span class="glyphicon glyphicon glyphicon-plus-sign"></span></div></div> 
      </div>
      <div class="row">
        <div class="col-md-3"><h2>Saturday</h2></div>
        <div class="col-md-3"><div class="panel" ><span class="glyphicon glyphicon glyphicon-plus-sign"></span></div></div>
        <div class="col-md-3"><div class="panel" ><span class="glyphicon glyphicon glyphicon-plus-sign"></span></div></div>
        <div class="col-md-3"><div class="panel" ><span class="glyphicon glyphicon glyphicon-plus-sign"></span></div></div> 
      </div>
      <div class="row">
        <div class="col-md-3"><h2>Sunday</h2></div>
        <div class="col-md-3"><div class="panel" ><span class="glyphicon glyphicon glyphicon-plus-sign"></span></div></div>
        <div class="col-md-3"><div class="panel" ><span class="glyphicon glyphicon glyphicon-plus-sign"></span></div></div>
        <div class="col-md-3"><div class="panel" ><span class="glyphicon glyphicon glyphicon-plus-sign"></span></div></div> 
      </div>
    </div>

<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#searchModal">
  Launch demo modal
</button>



  <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><input class="form-control" onkeyup="if(event.keyCode == 13) search(this);" type="text" placeholder="Search..." /></h4>
      </div>
      <div class="modal-body">
        <ul id="searchResults">
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="infoTitle"></h4>
      </div>
      <div class="modal-body" style="max-height: 500px; overflow-y:auto">
      <div class="row">
      <div class="col-md-5">
        <img id="pic" />
        </div>
        <div class="col-md-5">
          <h3>Servs: <span id="serving"></span></h3>
          <h3>Calories: <span id="calories"></span></h3>
          <h3><span id="recipe"></span></h3>
        </div>
        </div>
    
        <h2>Ingredients</h2>
        <ul id="ingredients">
        </ul>

        <div class="row" style="text-align:center">
          <div class="col-md-4">
            <h3>Dietery</h3>
            <ul id="dietery">
            </ul>
          </div>
          <div class="col-md-4">
            <h3>Health</h3>
            <ul id="health">
            </ul>
          </div>
          <div class="col-md-4">
            <h3>Cautions</h3>
            <ul id="cautions">
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" id="add" data-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>


  <script>
    var panels = $('.panel');
    for (var i = 0; i < panels.length; i++) {
      var panel = panels[i];
      $(panel).attr('entry', i.toString());
      $(panel).click(function(){
        var $this   = $(this),
            tileNum = $this.attr("entry");
            entryID = tileNum;
        $('#searchModal').modal('show');        
      });
    };



  var entryID = 0;
  var curRecipe = {};

    function search(data){
      var query = $(data).val();
      $.getJSON('/api/search/'+encodeURI(query), function(data){
        var items = [];
        for (var i = 0; i < data.length; i++) {
          var item = data[i];
          items.push('<li><div><img src="'+item['image_url']+'"/>'+item['title']+'<div style="float:right"class="btn-group">  <button onclick="info(\''+item['recipe_id']+'\');" type="button" class="btn btn-default glyphicon glyphicon-info-sign"></button>  <button onclick="add(\''+item['recipe_id']+'\');" type="button" class="btn btn-default glyphicon glyphicon-plus"></button> </div></div></li>');
        };
        $('#searchResults').html(items.join(''));
      });
    }

    function info(id){
       
        $.getJSON('/api/info/'+id, function(data){
          console.log(data);
          curRecipe = data;
          $('#infoTitle').html(data['title']);
          document.getElementById("pic").src=data['img'];
          var temp = [];

          for (var i = 0; i < data['ingr'].length; i++) {
            temp.push('<li>'+data['ingr'][i]+'</li>');
          };

          $('#ingredients').html(temp.join(''));

          $('#serving').html(data['yield']);
          $('#calories').html(data['calories']);
          $('#recipe').html('<a target="_blank" href="'+data['recipe']+'">Recipe</a>');

          temp = [];
          for (var i = 0; i < data['cautions'].length; i++) {
           
            temp.push('<li>'+data['cautions'][i]+'</li>');
          };

          $('#cautions').html(temp.join(''));

           temp = [];
          for (var i = 0; i < data['dietLabels'].length; i++) {
           
            temp.push('<li>'+data['dietLabels'][i]+'</li>');
          };

          $('#dietery').html(temp.join(''));

           temp = [];
          for (var i = 0; i < data['healthLabels'].length; i++) {
           
            temp.push('<li>'+data['healthLabels'][i]+'</li>');
          };

          $('#health').html(temp.join(''));

          $('#add').click(function(){
            add(id);
          });
          $('#searchModal').modal('hide');
        $('#infoModal').modal('show');
        });
    }


    function add(id){

    }
  </script>
  </body>
</html>